*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}

#head{
    margin-bottom: 30px;
}

#canvas{
    background: #f0f0f0;
    border-radius: 5px;
}